@import "../../assets/styles/elevation.css";

.header {
  @mixin dp04;

  align-items: center;
  color: #fff;
  display: flex;
  height: 56px;
  justify-content: center;

  &__container {
    padding: 32px;
  }

  &__title {
    flex-grow: 1;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
