@import "../../../assets/styles/elevation.css";

.form-button {
  @mixin dp04;

  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 2em;
  height: 64px;
  outline: none;
  overflow: hidden;
  transition: background-color var(--bg-color-transition-time);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--primary-color-hover);
  }
}
