@import "../../assets/styles/elevation.css";

.simple-card {
  @mixin dp01;

  align-items: center;
  cursor: pointer;
  display: flex;
  flex-basis: 348px;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  transition: background-color var(--bg-color-transition-time);

  &__img {
    font-size: 6em;
    user-select: none;
  }

  &__title {
    font-size: 2em;
    font-weight: bold;
    user-select: none;
  }

  &:hover {
    background-color: var(--primary-color-hover);
  }
}
