.entry-button {
  outline: none;
  height: 36px;
  opacity: 0.75;
  transition: opacity var(--opacity-transition-time);

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }

  &__text {
    font-size: 1.5em;
  }
}
