@import "../../../../assets/styles/colors.scss";

.simple-card {
  @include dp04;

  align-items: center;
  cursor: pointer;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 16px;
  width: 300px;

  &__img {
    font-size: 6em;
    user-select: none;
  }

  &__title {
    font-size: 2em;
    font-weight: bold;
    user-select: none;
  }

  &:hover {
    @include dp04($primary-color);
  }
}
